header-padding-normal = 10px
header-padding-max = 30px
logo-size = 50px

#header
  position: relative
  padding: header-padding-normal 0
  @media print
    display: none

#header-inner
  display: flex
  flex-flow: row nowrap
  align-items: center
  @media mq-mobile
    justify-content: center

#logo-wrap
  flex: 0 logo-size

#logo
  hide-text()
  background: url("/logo.svg")
  width: logo-size
  height: logo-size
  background-size: @width @height
  display: block

#main-nav
  display: none
  flex: 1 auto
  padding-left: 20px
  @media mq-normal
    display: block

.main-nav-link
  color: #fff
  text-decoration: none
  line-height: logo-size
  opacity: 0.7
  transition: 0.2s
  font-family: font-title
  display: inline-block
  padding: 0 15px
  &:hover
    opacity: 1
    color: color-link-hover
