layout: index
description: 最新 JavaScript 特性介绍，es6 es7 es2018 es2019
subtitle: 最新 JavaScript / ECMAScript 特性介绍
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-rocket
      h3.intro-feature-title Fast
      p.intro-feature-desc 快人一步，使用最新的 JavaScript 语法
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-flask
      h3.intro-feature-title Future
      p.intro-feature-desc 告别过去，面向未来编程
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-align-left
      h3.intro-feature-title Readable
      p.intro-feature-desc 让代码可读性更强
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-edit
      h3.intro-feature-title IDE
      p.intro-feature-desc 更强大的智能提示和语法高亮